*,
*::before,
*::after {
  text-decoration: none;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

ul,
ol,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.hide {
  display: none;
}

/* common styles */
.container {
  /* phones */
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 16px 0 16px;
    max-width: 768px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
}

.section {
  padding-bottom: 96px;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-bottom: 120px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.solutions {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
  .solutions {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 1158px) {
  .solutions {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    margin: 0 auto 48px;
    max-width: 1158px;
  }
}

.description {
  font-weight: 500;
  font-size: 16px;
  /* margin-bottom: 8px; */
}
@media screen and (min-width: 1158px){
  .description {
    font-weight: 400;
  }
}

.member .description {
  font-weight: 400;
}
.app-description .description {
  font-weight: 400
}
/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .navbar {
    /* margin-right: 120px; */
  }
}
@media screen and (min-width: 1158px) {
  .navbar {
    margin-right: 332px;
  }
}
.logo {
  display: block;
  padding: 16px 0 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 150px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 24px 0 24px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    padding: 24px 0 24px;
    margin-right: 76px;
  }
}
.logo span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
/* приховать меню список на моб */
@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link.active {
  color: #404bbf;
}
.menu-link.active:hover {
  color: #404bbf;
}

.menu-link.active:active,
.menu-link.active:focus {
  color: #404bbf;
}
.menu-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.menu-item {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}
.address-block {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767.98px) {
  .address-block {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .address-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 16px;

    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
  }
}

.address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  color: #434455;
  font-style: normal;
}
.address a:hover,
.address a:focus {
  color: #404bbf;
}

/* section 1*/
.hero {
  text-align: center;
  padding: 72px 0 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi){
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_mob@2x-min.jpg);
    }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_tab@1x-min.jpg );
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi){
    .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg_tab@2x-min.jpg);

    }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-desk@1x-min.jpg)
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi){
    .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-desk@2x-min.jpg);
    }
}

.hero .container {
  flex-direction: column;
}
.hero .container > h1 {
  max-width: 496px;
}
.button {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}

/* section 2 */
.our-values {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .our-values {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-values-description {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
@media screen and (min-width: 1158px) {
  .our-values-description {
    column-gap: 20px;
    row-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .our-values-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.our-values-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our-values-list {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-values-list {
    width: calc((100% - 72px) / 4);
  }
}

.our-values-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .our-values-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .our-values-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }
}
.benefits-icon {
  height: 64px;
}

.main-page {
  color: #2e2f42;
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .main-page {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .main-page {
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}

/* section 3 */
.our-team {
  background-color: #f4f4fd;

  padding: 96px 0 96px 0;
}
@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
}
.title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.our-team-description {
  display: flex;
  justify-content: center;
  gap: 72px 24px;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px){
  .our-team-description{
    gap: 64px 24px;
  }
}
.our-team-list {
  width: 100%;
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /* margin-bottom: 72px; */
}


@media screen and (min-width: 768px) {
  .our-team-list {
    max-width: 264px;
    width: calc((100% - 24px * 1) / 2);
  }
  
}
@media screen and (min-width: 1158px) {
  .our-team-list {
    max-width: 264px;
    width: calc((100% - 24px * 3) / 4);
  }
}

.our-team-list:last-child {
  margin-right: 0;
}
.member {
  padding: 32px 0;
}
@media screen and (min-width: 768px){
  .member .description{
    margin-bottom: 8px;
  }
}
.member-main-page {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-member {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon .team {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
/* section 4 */
.our-portfolio {
  padding: 96px 0 96px 0;
}
@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0 120px 0;
  }
}

.our-portfolio-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-list {
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   
}
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    width: calc((100% - 24px) / 2);
     
  }
}
@media screen and (min-width: 1158px) {
  .our-portfolio-list {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}

.our-portfolio-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.our-portfolio-pic {
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list:hover .overlay {
  transform: translateY(0%);
}
.our-portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list .main-page {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  text-align: left;
}

.our-portfolio-list > p {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .app-description > h3 {
    justify-content: start;
  }
}

@media screen and (min-width: 1158px) {
}

/* footer */
footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
@media screen and (min-width: 1158px) {
  footer {
    padding: 100px 0;
  }
}

.footer-container.container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-container.container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container.container {
    padding: 0 15px;
    align-items: baseline;
    gap: 0;
  }
}
.footer-top {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-top {
    text-align: left;
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-top {
    margin-right: 120px;
  }
}
.footer-logo {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0 auto 16px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
    justify-content: left;
  }
}

@media screen and (min-width: 1158px) {
}
.footer-descrioption {
  display: inline-block;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer-descrioption {
    max-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
}

.footer span {
  color: #f4f4fd;
}

.footer-caption,
.footer-caption.modal-group {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-caption,
  .footer-caption.modal-group {
    text-align: left;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer .social-member {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
}
.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}
.social-icon {
  fill: #f4f4fd;
}

/* homework 5 modal*/

.footer-modal-group {
  margin-left: 0;
}
@media screen and (min-width: 1158px) {
  .footer-modal-group {
    margin-left: auto;
  }
}

.order-modal {
  display: flex;
  gap: 16px;
  /* gap: 24px; */
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .order-modal {
    flex-direction: row;
  }
}

.order-modal-label {
  width: 100%;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .order-modal-label {
    width: 264px;
  }
}

.order-modal-input {
  width: 100%;
  /* width: 264px; */
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 1158px) {
}
.order-modal-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.order-modal-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-modal-label {
  display: flex;
}

.order-modal-btn-svg {
  margin-left: 16px;
  fill: #ffffff;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  /* max-width: 288px; */
  width: calc(100% - 32px);
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal-div {
    max-width: 408px;
  }
}

.modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal-button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}
.modal-button-close:hover .modal-button-close-svg,
.modal-button-close:focus .modal-button-close-svg {
  fill: #ffffff;
}

.modal-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 0;
}

.modal-form-div {
  margin-bottom: 8px;
}

.modal-form-div-l,
.modal-form-div-phone,
.modal-form-div-email {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-div-pers {
  position: relative;
}

.input-pers {
  font-size: 12px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-pers:focus {
  border-color: #4d5ae5;
}

.modal-form-div-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42; /*chanched*/
  fill: currentColor;
}

.input-pers:focus + .modal-form-div-svg {
  fill: #4d5ae5;
}

.modal-form-div-comment {
  margin-bottom: 16px;
}

.modal-form-comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  position: relative;
  margin-bottom: 24px;
}

.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.label-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.input-checkbox:checked + .label-checkbox > .label-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-checkbox:focus + .label-checkbox > .label-checkbox-span {
  border-color: #4d5ae5;
}

.label-checkbox-link {
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.menu-burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  /* margin-right: auto; */
}
@media screen and (min-width: 768px) {
  .menu-burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 72px 16px 40px;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
/* @media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
} */
.mobile-menu .modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border: 1px solid #e7e9fc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: #2e2f42;
  background-color: rgba(231, 233, 252, 0.1);

  /* color: #E7E9FC; */
}

.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item {
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.active {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contact {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.mobile-menu-contact.accent {
  color: #4d5ae5;
}
.mobile-menu-socials {
  justify-content: space-between;
  gap: 40px;
}
